
@import "tailwindcss";
/* Add in index.css or global styles */


html,
/* body {    

  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

body {
  font-family: 'Inter', 'Roboto', sans-serif;
}

.signout-button{  
    cursor: pointer;
    text-align: right;
    padding: 4px;
    font-size: 0.875rem;
    color: inherit;
    text-decoration: none;
}
.signout-button:hover {
  color: rgb(221, 32, 32);
  text-decoration: underline;
}

.input-border-gray {
  border: 1px solid #cbd5e1; /* Tailwind gray-400 */
}
.input-border-gray:hover {
  border-color: #a1a1aa; /* Tailwind gray-500 */
}

.input-border-gray:focus {
  border-color: #cbd5e1; /* gray-400 */
  box-shadow: 0 0 0 2px rgba(203, 213, 225, 0.6); /* focus ring like Tailwind */
}